*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;;

}
.header{
        min-width: 100vh;
        width: 100%;
        background-color: #065d57e1;

}
nav{
    display: flex;
    padding: 2% 6%;
    justify-content: space-between;
    align-items: center;
    
}
nav img{
    width: 50px;

}
.nav-links{
    flex: 1;
    text-align: right;
    
}

.nav-links ul li{
    list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.nav-links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 13px;
}
.nav-links ul li::after{
    content: "";
    width: 0%;
    height: 2px;
    background: #660a04;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.nav-links ul li:hover::after{
    width: 100%;

}
.label{
    color: rgb(206, 206, 206);
    color: orange;
}
input {
    box-sizing: border-box;
    height: 10%;
    width: 20%;

    }

body {
background-color:rgba(16, 192, 219, 0.674);
color:black
text-align: left;
font-size: 1.25em;
}
.table tr td
{
    padding-right: 10px;
    align-self: start;
    font-weight: bold;
}